* {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  height: 266px;
  background-color: #4d4d4e;
  color: #aaaaaa;
  text-align: right;
  font-family: helvetica;
}

header h1 {
  font-size: 89px;
}

header p {
  font-size: 55px;
}

header {
  position: relative;
}

header table {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  font-size: 21px;
  justify-content: space-between;
}

header table td {
  margin: 0px 100px 0px 100px;
}




/*https://coolors.co/5f4b66-a7adc6-8797af-18012c-56667a*/
